:root{
    --size: 16;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #ffff1a;
}
header{
    position: relative;
    top: 50%;
    left: 20%;
}
button{
    font-size: 16px;
    display: inline-block;
    width: 30%;
    height: 35px;
    margin: 3% 1%;
    border-radius: 6px;
    box-shadow: 5px 5px;
}
.container{
    margin: 5% 0 2% 20%;
    width: 950px;
    height: 950px;
    border: 5px solid #fff;
    display: grid;
    background-color: gray;
    box-shadow: 10px 10px;
    grid-template-columns: repeat(var(--size),1fr);
    grid-template-rows: repeat(var(--size),1fr);
}
.div{
    background-color: #fff;
    border: 1px solid #000;
}

